<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="NuGet.org">
      <package pattern="*" />
    </packageSource>

    <!--
    Hack for getting Native AOT benchmarks working in the AtleX.HaveIBeenPwned.Benchmarks project
    Related: https://github.com/dotnet/BenchmarkDotNet/issues/2610
    -->
    <packageSource key="nativeAotNuGetFeed"> 
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>